<ba-card cardTitle="Bienvenido al sistema de Gestión de Cuentas" baCardClass="with-scroll">
  <form class="form-horizontal">
    <div class="container-fluid">
      <div class="form-group row">
        <h4>Acuerdos de nivel de servicio </h4>
      </div>
      <div class="box-shadow-border"></div>
      <br>
      <h4>Especifícos del cliente</h4>
      <br>

      <div class="form-group row">
        <div class="form-group col-md-12">
          <label for="especific" class="control-label col-md-12">Especifícos:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validarNombre()" id="especific" placeholder="Especifícos" name="especific" [(ngModel)]="level.especificos"
              #especific="ngModel" required maxlength="200" minlength="3">
            <div *ngIf="especific.errors">
              <div *ngIf="especific.touched && !especific.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!especific.validator.minlength && especific.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="box-shadow-border"></div>
      <br>
      <h4>Técnicos</h4>
      <br>

      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="corrective" class="control-label col-md-12">Correctivos:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="corrective" name="corrective" [(ngModel)]="level.correctivo" #corrective="ngModel" required>
                <option *ngFor="let data of listaCorrectivos" [ngValue]="data">{{data.nombre}}</option>
              </select>
              <div *ngIf="corrective.errors">
                <div *ngIf="corrective.touched && !corrective.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 ">
          <label for="fumigation" class="control-label col-md-12">Fumigaciones:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="fumigation" name="fumigation" [(ngModel)]="level.fumigacione" #fumigation="ngModel" required>
                <option *ngFor="let data of listaFumigaciones" [ngValue]="data">{{data.nombre}}</option>

              </select>
              <div *ngIf="fumigation.errors">
                <div *ngIf="fumigation.touched && !fumigation.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row ">
        <div class="form-group col-md-6">
          <label for="preventive" class="control-label col-md-12">Preventivos:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="preventive" name="preventive" [(ngModel)]="level.preventivo" #preventive="ngModel" required>
                <option *ngFor="let data of listaPreventivos" [ngValue]="data">{{data.nombre}}</option>
              </select>
              <div *ngIf="preventive.errors">
                <div *ngIf="preventive.touched && !preventive.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="curses" class="control-label col-md-12">Cursos:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validarCursosTecnicos()" id="curses" placeholder="Cursos" name="curses" [(ngModel)]="level.tecnicoscursos"
              #curses="ngModel" required maxlength="200" minlength="3">
            <div *ngIf="curses.errors">
              <div *ngIf="curses.touched && !curses.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!curses.validator.minlength && curses.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="brigade" class="control-label col-md-12">Brigada Limpieza:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validarbrigadalimpieza()" id="brigade" placeholder="Brigada Limpieza" name="brigade" [(ngModel)]="level.tecnicosbrigadalimpieza"
              #brigade="ngModel" required maxlength="200" minlength="3">
            <div *ngIf="brigade.errors">
              <div *ngIf="brigade.touched && !brigade.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!brigade.validator.minlength && brigade.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 ">
          <label for="others" class="control-label col-md-12">Otros:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validartecnicosotros()"  id="others" placeholder="Otros" name="others" [(ngModel)]="level.tecnicosotros" #others="ngModel"
              required maxlength="200" minlength="3">
            <div *ngIf="others.errors">
              <div *ngIf="others.touched && !others.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!others.validator.minlength && others.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-shadow-border"></div>
      <br>
      <h4>Operaciones</h4>
      <br>

      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="operationCurses" class="control-label col-md-12">Cursos:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validarOperacionesCursos()" id="operationCurses" placeholder="Cursos" name="operationCurses" [(ngModel)]="level.operacionescursos"
              #operationCurses="ngModel" required maxlength="200" minlength="3">
            <div *ngIf="operationCurses.errors">
              <div *ngIf="operationCurses.touched && !operationCurses.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!operationCurses.validator.minlength && operationCurses.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 ">
          <label for="timeszones" class="control-label col-md-12">Franjas Horarias:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validarFranjaHoraria()" id="timeszones" placeholder="Franjas Horarias" name="timeszones" [(ngModel)]="level.operacionesfranjashorarias"
              #timesZones="ngModel" required maxlength="200" minlength="3">
            <div *ngIf="timesZones.errors">
              <div *ngIf="timesZones.touched && !timesZones.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!timesZones.validator.minlength && timesZones.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-shadow-border"></div>
      <br>
      <h4>Tipo de Venta</h4>
      <br>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="subside" class="control-label col-md-12">Tipo:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="subdside" name="subside" [(ngModel)]="level.tipoVenta" #subside="ngModel" required>
                <option *ngFor="let data of listaTiposVenta" [ngValue]="data">{{data.nombre}}</option>
              </select>
              <div *ngIf="subside.errors">
                <div *ngIf="subside.touched && !subside.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="box-shadow-border"></div>
      <br>
      <h4>Facturación</h4>
      <br>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="purserent" class="control-label col-md-12">Plazo Cartera/Subsidio:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="purserent" name="billing" [(ngModel)]="level.plazosCartera" #billingSub="ngModel" required>
                <option *ngFor="let data of listaplazosCartera" [ngValue]="data">{{data.nombre}}</option>
              </select>
              <div *ngIf="billingSub.errors">
                <div *ngIf="billingSub.touched && !billingSub.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 ">

          <label for="billingRent" class="control-label col-md-12">Plazo Cartera/Arriendos:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="billingRent" name="billingRent" [(ngModel)]="level.plazosArriendo" #billingRent="ngModel"
                required>
                <option *ngFor="let data of listaplazosArriendo" [ngValue]="data">{{data.nombre}}</option>

              </select>
              <div *ngIf="billingRent.errors">
                <div *ngIf="billingRent.touched && !billingRent.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="crosspurse" class="control-label col-md-12">Cruce Cartera:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="crosspurse" name="crossPurse" [(ngModel)]="level.cruceCartera" #crossPurse="ngModel" required>
                <option *ngFor="let data of listaCruceCartera" [ngValue]="data">{{data.nombre}}</option>

              </select>
              <div *ngIf="crossPurse.errors">
                <div *ngIf="crossPurse.touched && !crossPurse.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 ">

          <label for="oc" class="control-label col-md-12">Requiera OC compra:</label>
          <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" id="oc" name="oc" [(ngModel)]="level.requiereCompra" #oc="ngModel" required>
                <option *ngFor="let data of listaRequiereCompra" [ngValue]="data">{{data.nombre}}</option>

              </select>
              <div *ngIf="oc.errors">
                <div *ngIf="oc.touched && !oc.valid" class="alert alert-danger">
                  <strong>Warning!</strong>Campo requerido.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="place" class="control-label col-md-12">Lugar Radicación:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validarLugarRadicacion()" id="place" placeholder="Lugar Radicación" name="place" [(ngModel)]="level.facturacionlugarradicacion"
              #place="ngModel" required maxlength="200" minlength="3">
            <div *ngIf="place.errors">
              <div *ngIf="place.touched && !place.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!place.validator.minlength && place.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>

          </div>
        </div>
        <div class="form-group col-md-6 ">

          <label for="dateMax" class="control-label col-md-12">Fecha Máxima Radicación:</label>
          <div class="col-md-12">
            <div class='col-sm-6'>
              <input type="date" class="form-control" name="dateMax" [(ngModel)]="level.facturacionfechamaximaradicacion" #dateMax="ngModel"
                size="50" required />

            </div>
            <div *ngIf="dateMax.errors">
              <div *ngIf="dateMax.touched && !dateMax.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="dateEspecial" class="control-label col-md-12">Fechas especiales:</label>
          <div class="col-md-12">
            <div class='col-sm-6'>
              <input type="date" class="form-control" name="dateEspecial" [(ngModel)]="level.facturacionfechasespeciales" #dateEspecial="ngModel"
                size="50" required />
            </div>
            <div *ngIf="dateEspecial.errors">
              <div *ngIf="dateEspecial.touched && !dateEspecial.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 ">

          <label for="motive" class="control-label col-md-12">Motivo:</label>
          <div class="col-md-12">
            <input type="text" class="form-control" (input)="validarMotivo()" id="motive" placeholder="Motivos" name="motive" [(ngModel)]="level.facturacionmotivo"
              #motive="ngModel" required maxlength="200" minlength="3">
            <div *ngIf="motive.errors">
              <div *ngIf="motive.touched && !motive.valid" class="alert alert-danger">
                <strong>Warning!</strong>Campo requerido.
              </div>
              <div *ngIf="!motive.validator.minlength && motive.touched" class="alert alert-danger ">
                <strong>Warning!</strong>Se Requieren mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-shadow-border"></div>
      <br>
      <h4>Agregar Fechas Especiales</h4>
      <br>
      <div>
        <button class="btn btn-success" (click)="saveServiceLevels()">Agregar</button>
        <button class="btn btn-info" (click)="resetForm()">Cancelar</button>

      </div>
      <br>

      <div class="form-group row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" name="buttonSave" (click)="goCompetence()" >Competencia</button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6" *ngIf="listaserviceLevels!=null && listaserviceLevels.length>0">
      <div class="form-group col-md-6" >
        <div class="panel panel-default">
          <div class="panel-heading">Información de la Competencia
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 40%">
                  Especificos:
                </th>
                <th style="width: 40%">
                  Correctivos:
                </th>
                <th style="width: 40%">
                  Fumigaciones:
                </th>
                <th style="width: 40%">
                  Cursos:
                </th>
                <th style="width: 40%">
                  Brigada Limpieza:
                </th>
                <th style="width: 40%">
                  Operaciones Cursos:
                </th>
                <th style="width: 40%">
                  Franjas Horarias:
                </th>
                <th style="width: 40%">
                  Tipo de Venta
                </th>

                <th style="width: 40%">
                  Facturación Plazo Cartera:
                </th>
                <th style="width: 40%">
                  Plazo Cartera/Arriendos:
                </th>
                <th style="width: 40%">
                  Cruce Cartera:
                </th>
                <th style="width: 40%">
                  Requiera OC compra:
                </th>
                <th style="width: 40%">
                  Lugar Radicación:
                </th>
                <th style="width: 40%">
                  Fecha Máxima Radicación:
                </th>
                <th style="width: 40%">
                  Fechas especiales:
                </th>
                <th style="width: 40%">
                  Motivo:
                </th>
                <th style="width: 40%">
                  Acciones:
                </th>
                <tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listaserviceLevels">
                <td>{{data.especificos}}</td>
                <td> {{data.correctivo!=null?data.correctivo.nombre:''}}</td>
                <td> {{data.fumigacione!=null?data.fumigacione.nombre:''}}</td>
                <td> {{data.tecnicosotros}}</td>
                <td> {{data.tecnicosbrigadalimpieza}}</td>
                <td> {{data.operacionescursos}}</td>
                <td> {{data.operacionesfranjashorarias}}</td>
                <td> {{data.tipoVenta!=null?data.tipoVenta.nombre:''}}</td>
                <td> {{data.plazosCartera!=null?data.plazosCartera.nombre:''}}</td>
                <td> {{data.plazosArriendo!=null?data.plazosArriendo.nombre:''}}</td>
                <td> {{data.cruceCartera!=null?data.cruceCartera.nombre:''}}</td>
                <td> {{data.requiereCompra!=null?data.requiereCompra.nombre:''}}</td>
                <td> {{data.facturacionlugarradicacion}}</td>
                <td> {{data.facturacionfechamaximaradicacion}}</td>
                <td> {{data.facturacionfechasespeciales}}</td>
                <td> {{data.facturacionmotivo}}</td>

                <td>
                  <button class="glyphicon .glyphicon-trash btn btn-info" (click)="remove(data)" name="eliminarSector">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                  </button>
                  <button class=".glyphicon-trash btn btn-info" (click)="editar(data)" name="editarSector">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>

                </td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>
  </form>
</ba-card>
