<ba-card cardTitle="Bienvenido al sistema de Gestión de Cuentas" baCardClass="with-scroll">
	<form class="form-horizontal">
		<div class="container-fluid"><!--
			<div class="form-group row">
				<h4>Acuerdos de nivel de servicio </h4>
			</div>
			<div class="box-shadow-border"></div>
			<br>
			<h4>Especifícos del cliente</h4>
			<br>
			
			<div class="form-group row">
				<div class="form-group col-md-12">
					<label for="especific" class="control-label col-md-12">Especifícos:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="especific" placeholder="Especifícos" name="especific" 
						[(ngModel)]="serviceLevel.especificclient" #especific="ngModel" required maxlength="200" minlength="3">
						<div *ngIf="especific.errors">
							<div *ngIf="especific.touched && !especific.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!especific.validator.minlength && especific.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>
	
			</div>
			<div class="box-shadow-border"></div>
			<br>
			<h4>Técnicos</h4>
			<br>
		
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="corrective" class="control-label col-md-12">Correctivos:</label>
					<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="corrective" name="corrective" [(ngModel)]="correctives.name" #corrective="ngModel" required>			
										  <option *ngFor = "let corrective of correctives" [value] = "correctives.name">{{corrective.name}}</option>	
								</select>
								<div *ngIf="corrective.errors">
									<div *ngIf="corrective.touched && !corrective.valid" class="alert alert-danger">
										<strong>Warning!</strong>Campo requerido.
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="form-group col-md-6 ">
					<label for="fumigation" class="control-label col-md-12">Fumigaciones:</label>
					<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="fumigation" name="fumigation" [(ngModel)]="fumigations.name" #fumigation="ngModel" required>			
										  <option *ngFor = "let fumigation of fumigations" [value] = "fumigation.name">{{fumigation.name}}</option>	
								</select>
								<div *ngIf="fumigation.errors">
									<div *ngIf="fumigation.touched && !fumigation.valid" class="alert alert-danger">
										<strong>Warning!</strong>Campo requerido.
									</div>
								</div>
							</div>
						</div>
				</div>	
			</div>
			
			<div class="form-group row ">
				<div class="form-group col-md-6">
					<label for="preventive" class="control-label col-md-12">Preventivos:</label>
					<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="preventive" name="preventive" [(ngModel)]="preventive.name" #preventive="ngModel" required>			
										  <option *ngFor = "let preventive of preventive" [value] = "preventive.name">{{preventive.name}}</option>	
								</select>
								<div *ngIf="preventive.errors">
									<div *ngIf="preventive.touched && !preventive.valid" class="alert alert-danger">
										<strong>Warning!</strong>Campo requerido.
									</div>
								</div>
							</div>
						</div>
				</div>
				
				<div class="form-group col-md-6">
					<label for="curses" class="control-label col-md-12">Cursos:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="curses" placeholder="Cursos" name="curses" 
						[(ngModel)]="serviceLevel.tecniquecurses" #curses="ngModel" required maxlength="200" minlength="3">
						<div *ngIf="curses.errors">
							<div *ngIf="curses.touched && !curses.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!curses.validator.minlength && curses.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="brigade" class="control-label col-md-12">Brigada Limpieza:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="brigade" placeholder="Brigada Limpieza"name="brigade" 
						[(ngModel)]="serviceLevel.brigadeclear" #brigade="ngModel" required maxlength="200" minlength="3">
						<div *ngIf="brigade.errors">
							<div *ngIf="brigade.touched && !brigade.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!brigade.validator.minlength && brigade.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 ">
					<label for="others" class="control-label col-md-12">Otros:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="others" placeholder="Otros" name="others" 
						[(ngModel)]="serviceLevel.others" #others="ngModel" required maxlength="200" minlength="3">
						<div *ngIf="others.errors">
							<div *ngIf="others.touched && !others.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!others.validator.minlength && others.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="box-shadow-border"></div>
			<br>
			<h4>Operaciones</h4>
			<br>
			
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="operationCurses" class="control-label col-md-12">Cursos:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="operationCurses" placeholder="Cursos" name="operationCurses" 
						[(ngModel)]="serviceLevel.operationcurses" #operationCurses="ngModel" required maxlength="200" minlength="3">
						<div *ngIf="operationCurses.errors">
							<div *ngIf="operationCurses.touched && !operationCurses.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!operationCurses.validator.minlength && operationCurses.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 ">
					<label for="timeszones" class="control-label col-md-12">Franjas Horarias:</label>
					<div class="col-md-12">
						<input type="text" class="form-control" id="timeszones" placeholder="Franjas Horarias" name="timeszones" 
						[(ngModel)]="serviceLevel.timeszones" #timesZones="ngModel" required maxlength="200" minlength="3">
						<div *ngIf="timesZones.errors">
							<div *ngIf="timesZones.touched && !timesZones.valid" class="alert alert-danger">
								<strong>Warning!</strong>Campo requerido.
							</div>
							<div *ngIf="!timesZones.validator.minlength && timesZones.touched" class="alert alert-danger ">
								<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="box-shadow-border"></div>
			<br>
			<h4>Tipo de Venta</h4>
			<br>
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="subside" class="control-label col-md-12">Tipo:</label>
					<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="subdside" name="subside" [(ngModel)]="serviceLevel.typessla" #subside="ngModel" required>			
										  <option  [value] = "Subsidiada">Subsidiada</option>
										  <option  [value] = "Servicios">Servicios</option>
								</select>
								<div *ngIf="subside.errors">
									<div *ngIf="subside.touched && !subside.valid" class="alert alert-danger">
										<strong>Warning!</strong>Campo requerido.
									</div>
								</div>
							</div>
						</div>
				</div>
	
			</div>
			<div class="box-shadow-border"></div>
			<br>
			<h4>Facturación</h4>
			<br>
			<div class="form-group row">
				<div class="form-group col-md-6">
					<label for="purserent" class="control-label col-md-12">Plazo Cartera/Subsidio:</label>
					<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="purserent" name="billing" [(ngModel)]="termpursesub.name" #billingSub="ngModel" required>			
										  <option *ngFor = "let pursesub of pursesubs" [value] = "termpursesub.name">{{pursesub.name}}</option>	
								</select>
								<div *ngIf="billingSub.errors">
									<div *ngIf="billingSub.touched && !billingSub.valid" class="alert alert-danger">
										<strong>Warning!</strong>Campo requerido.
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="form-group col-md-6 ">
						
								<label for="billingRent" class="control-label col-md-12">Plazo Cartera/Arriendos:</label>
								<div class="col-md-12">
										<div class="form-group">
											<select class="form-control" id="billingRent" name="billingRent" [(ngModel)]="termnpurserent.name" #billingRent="ngModel" required>			
													  <option *ngFor = "let purserent of purserents" [value] = "termpurserent.name">{{purserent.name}}</option>	
											</select>
											<div *ngIf="billingRent.errors">
												<div *ngIf="billingRent.touched && !billingRent.valid" class="alert alert-danger">
													<strong>Warning!</strong>Campo requerido.
												</div>
											</div>
										</div>
									</div>
						</div>
			</div>
			<div class="form-group row">
					<div class="form-group col-md-6">
						<label for="crosspurse" class="control-label col-md-12">Cruce Cartera:</label>
						<div class="col-md-12">
								<div class="form-group">
									<select class="form-control" id="crosspurse" name="crossPurse" [(ngModel)]="billing.crosspurse" #crossPurse="ngModel" required>			
											  <option  [value] = "Si">Sí</option>	
											  <option  [value] = "No">No</option>
									</select>
									<div *ngIf="crossPurse.errors">
										<div *ngIf="crossPurse.touched && !crossPurse.valid" class="alert alert-danger">
											<strong>Warning!</strong>Campo requerido.
										</div>
									</div>
								</div>
							</div>
					</div>
					<div class="form-group col-md-6 ">
							
									<label for="oc" class="control-label col-md-12">Requiera OC compra:</label>
									<div class="col-md-12">
											<div class="form-group">
												<select class="form-control" id="oc" name="oc" [(ngModel)]="billing.oc" #oc="ngModel" required>			
														  <option [value] = "Si">Si</option>
														  <option [value] = "No">no</option>	
												</select>
												<div *ngIf="oc.errors">
													<div *ngIf="oc.touched && !oc.valid" class="alert alert-danger">
														<strong>Warning!</strong>Campo requerido.
													</div>
												</div>
											</div>
										</div>
							</div>
				</div>
				<div class="form-group row">
						<div class="form-group col-md-6">
							<label for="place" class="control-label col-md-12">Lugar Radicación:</label>
							<div class="col-md-12">
									<input type="text" class="form-control" id="place" placeholder="Lugar Radicación" name="place" 
									[(ngModel)]="billing.place" #place="ngModel" required maxlength="200" minlength="3">
									<div *ngIf="place.errors">
											<div *ngIf="place.touched && !place.valid" class="alert alert-danger">
												<strong>Warning!</strong>Campo requerido.
											</div>
											<div *ngIf="!place.validator.minlength && place.touched" class="alert alert-danger ">
												<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
											</div>
										</div>
									
								</div>
						</div>
						<div class="form-group col-md-6 ">
								
										<label for="datemas" class="control-label col-md-12">Fecha Máxima Radicación:</label>
										<div class="col-md-12">
												<div class="input-group date">
													<my-date-picker name="datemax" [options]="myDatePickerOptions" [(ngModel)]="billing.datemax" #dateMax="ngModel"
													 required></my-date-picker>
												</div>
												<div *ngIf="dateMax.errors">
													<div *ngIf="dateMax.touched && !dateMax.valid" class="alert alert-danger">
														<strong>Warning!</strong>Campo requerido.
													</div>
												</div>
											</div>
								</div>
					</div>
					<div class="form-group row">
							<div class="form-group col-md-6">
								<label for="dateespecial" class="control-label col-md-12">Fechas especiales:</label>
								<div class="col-md-12">
										<div class="input-group date">
											<my-date-picker name="dateespecial" [options]="myDatePickerOptions" [(ngModel)]="dateespecials.dateespecial" #dateEspecial="ngModel"
											 required></my-date-picker>
										</div>
										<div *ngIf="dateEspecial.errors">
											<div *ngIf="dateEspecial.touched && !dateEspecial.valid" class="alert alert-danger">
												<strong>Warning!</strong>Campo requerido.
											</div>
										</div>
									</div>
							</div>
							<div class="form-group col-md-6 ">
									
											<label for="motive" class="control-label col-md-12">Motivo:</label>
											<div class="col-md-12">
													<input type="text" class="form-control" id="motive" placeholder="Motivos" name="motive" 
													[(ngModel)]="dateespecials.place" #motive="ngModel" required maxlength="200" minlength="3">
													<div *ngIf="motive.errors">
															<div *ngIf="motive.touched && !motive.valid" class="alert alert-danger">
																<strong>Warning!</strong>Campo requerido.
															</div>
															<div *ngIf="!motive.validator.minlength && motive.touched" class="alert alert-danger ">
																<strong>Warning!</strong>Se Requieren mínimo 3 caracteres
															</div>
														</div>
												</div>
									</div>
						</div>
			<div class="box-shadow-border"></div>
			<br>
			<h4>Agregar Fechas Especiales</h4>
		<br>
	<div>
		<button class="btn btn-primary" >Agregar</button>
		
		</div>
		<br>
		
			<div class="form-group row">
				<div class="col-md-5">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-3">
					
						<div *ngIf="especific.errors || corrective.errors || fumigation.errors || preventive.errors ||curses.errors || brigade.errors 
						|| others.errors || operationCurses.errors  || timesZones.errors || subside.errors || billingSub.errors || billingRent.errors 
						 || crossPurse.errors || oc.errors || place.errors || dateMax.errors || dateEspecial.errors || motive.errors">
						<button class="btn btn-primary" name="buttonSave" (click)="goCompetence()" disabled>Negocio</button>
						<button class="btn btn-success" (click)="saveServiceLevels()" disabled="">Guardar</button>
						<button class="btn btn-info" (click)="resetForm()">Cancelar</button>
					</div>
					<div *ngIf="!especific.errors && !corrective.errors && !fumigation.errors && !preventive.errors && !curses.errors && !brigade.errors 
							&& !others.errors && !operationCurses.errors  && !timesZones.errors && !subside.errors && !billingSub.errors && !billingRent.errors 
							&& !crossPurse.errors && !oc.errors && !place.errors && !dateMax.errors && !dateEspecial.errors && !motive.errors">
						<button class="btn btn-primary" name="buttonSave" (click)="goCompetence()">Negocio</button>
						<button class="btn btn-success" (click)="saveServiceLevels()">Guardar</button>
						<button class="btn btn-info" (click)="resetForm()">Cancelar</button>
					</div>
				
				</div>
			</div>-->
		</div>
	</form>
</ba-card>